
.row
  .span4
    = render 'layouts/sidebar'

  .span8.profile
    %h1 Your Profile

    %h2 Basic Info
    .profile
      %h3 Name: #{ attr_or_edit(@user, @user.full_name) }
      %h3 Email: #{ attr_or_edit(@user, @user.email) }
      %h3 Phone: #{ attr_or_edit(@user, @user.phone) }

    %h2 Other Info
    .profile
      %h3 Height: #{ attr_or_edit(@user, @user.height) }
      %h3 Weight: #{ attr_or_edit(@user, @user.weight) }
      %h3 Birthdate: #{ attr_or_edit(@user, @user.birthdate) }